@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 16rem;
}

.project_title {
  font-family: 'Pathway Extreme', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.project_info {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
  padding: 1rem 28.1rem;
}

.project_img {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 125px 50px rgba(0, 0, 0, 0.01))
    drop-shadow(0px 71px 42px rgba(0, 0, 0, 0.05))
    drop-shadow(0px 31px 31px rgba(0, 0, 0, 0.09))
    drop-shadow(0px 8px 17px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
  padding: 2rem 0rem;
}

hr {
  margin: 5rem 0rem;
}

/* First Button */
@import url('https://fonts.googleapis.com/css?family=Mukta:700');

/* Variables */
:root {
  --bg: #f3f8fa;
  --white: #fff;
  --black: #282936;
  --transition-duration: 0.45s;
  --transition-ease: cubic-bezier(0.65, 0, 0.076, 1);
}

/* Global Styles */
* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/* Body Styles */



body {
  font-family: 'Mukta', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: var(--bg);
}

/* Button Styles */

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 0rem;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 13rem;
  height: auto;
}

button.learn-more .circle {
  transition: all var(--transition-duration) var(--transition-ease);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: var(--black);
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all var(--transition-duration) var(--transition-ease);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: var(--white);
}

button.learn-more .circle .icon.arrow {
  transition: all var(--transition-duration) var(--transition-ease);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid var(--white);
  border-right: 0.125rem solid var(--white);
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all var(--transition-duration) var(--transition-ease);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: var(--black);
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: var(--white);
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: var(--white);
}

.project_showcase {
  margin-bottom: -18rem;
  margin-top: 0rem;
  display: inline-block;
}


.pending-project {
  color: #FF0059;
}